:root {
  --primary-color: var(--p-primary-color);
  --primary-light-color: #ECFDF5;
  --main-bg: #f2f4f7;
  --header-bg: #fff;
  --box-bg: #fff;
  --card-bg: #fff;
  --header-shadow: #00000020;
  --card-shadow: #00000020;
  --option-bg: #fff;
  --option-btn-bg: #e2e8f0;
  --field-bg: #f0f2f5;
  --items-hover-bg: #f2f2f2;
  --menu-hover-bg: #f0f2f5;
  --text-color: #080809;
  --text-gray-color: #6e7174;
  --text-placeholder-color: #6C7074;
  --icon-color: #1D1F23;
  --icon-gray-color: #65686c;
  --arrow-bg: #fff;
  --chat-bg: #FAF6F4;
  --reply-bg: #FFFFFF;
  --my-reply-bg: #D9FDD3;
  --chat-active-bg: #E0E0E0;
}

.dark:root {
  color-scheme: dark;
  --primary-light-color: #3B3D3E;
  --main-bg: #1C1C1D;
  --header-bg: #242728;
  --box-bg: #242728;
  --card-bg: #242728;
  --header-shadow: #393C3D;
  --card-shadow: #64686C;
  --option-bg: #242728;
  --option-btn-bg: #4e5051e9;
  --field-bg: #333334;
  --items-hover-bg: #333334;
  --p-skeleton-background: #464749;
  --menu-hover-bg: #3A3D3E;
  --p-ripple-background: #ffffff21;
  --text-color: #fff;
  --text-gray-color: #A4A8AC;
  --text-placeholder-color: #AFB3B8;
  --icon-color: #E4E6EA;
  --icon-gray-color: #E4E6EA;
  --arrow-bg: #444445;
  --p-tabs-tab-color: --text-color;
  --p-tabs-tab-hover-color: --icon-gray-color;
  --chat-bg: #262626;
  --reply-bg: #363636;
  --my-reply-bg: #005E4D;
  --chat-active-bg: #454545;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style-type: none;
  font-family: 'Inter', sans-serif;
}

html,
body {
  overflow-x: hidden;
}

a {
  color: #000;
  display: inline-block;
}

button {
  cursor: pointer;
}

.imgFluid {
  max-width: 100%;
  height: auto;
}

.bg-primary-light {
  background: var(--primary-light-color) !important;
}

.box {
  background: var(--box-bg);
  border-radius: 0.5rem;
  box-shadow: 0 0 1px 1px #00000020;
  padding: 1.25rem 0.8rem;
  margin-bottom: 1.5rem;
}

.box-header {
  padding-bottom: 1.25rem;
}

.box-header .title {
  font-size: 0.99rem;
  color: var(--text-color);
  font-weight: 600;
}


body .swiper-button-prev,
body .swiper-button-next {
  background: var(--arrow-bg);
  width: 45px;
  height: 45px;
  border-radius: 100%;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

body .swiper-button-prev:hover,
body .swiper-button-next:hover {
  background: #F1F1F1;
}

body .swiper-button-prev::after,
body .swiper-button-next::after {
  font-size: 1rem;
  font-weight: 600;
}

body .swiper-button-prev::after {
  margin-right: 3px;
}

body .swiper-button-next::after {
  margin-left: 3px;
}

body .swiper-button-disabled {
  display: none;
}

body .swiper-wrapper {
  padding-left: 0.05rem;
}

.page-content {
  padding-right: 2.75rem;
}

.page-title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.page-title--lg {
  font-size: 1.5rem;
}

.p-tooltip {
  font-size: 0.8rem;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #89898967;
  border-radius: 100px;
}

body .back-btn .icon {
  color: var(--icon-color);
  font-size: 0.85rem !important;
}

body .back-btn:hover,
.p-dialog-close-button:hover {
  background: var(--menu-hover-bg) !important;
}

.dark .p-button-outlined {
  background: var(--option-btn-bg);
  border-color: var(--option-btn-bg);
  color: #E7E9EC;
}

.p-button-outlined {
  transition: none !important;
}

.dark .status {
  border-color: var(--option-bg) !important;
}

.dark .p-tooltip-text {
  color: #2F2F30;
  background: #fffefe;
}

.dark .logo {
  filter: invert(1) brightness(100);
}

.dark .swiper-button-prev:hover,
.dark .swiper-button-next:hover {
  color: #000;
}

.dark .p-button-outlined:hover {
  background: var(--option-btn-bg) !important;
  border-color: var(--option-btn-bg) !important;
  color: #E7E9EC !important;
}

body .dialog-bg {
  color: var(--text-color);
  background: var(--header-bg);
  border: 1px solid var(--header-shadow);
}

.p-dialog-close-button {
  color: var(--icon-color) !important;
}

.confirm-dialog {
  width: 30rem;
}

.first-section-padding {
  padding-top: 5rem
}

@import '@/assets/css/responsive.scss';